<div>
	<a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Settings</h2>
	<span class="glyphicon glyphicon-wrench bg-fade"></span>
	<div class=jumbotron>
		<div class=container>
			<div class="panel panel-primary">
				<div class="panel-heading"><h3>Change your password</h3></div>
				<form role=form name="changepasswordform" ng-submit=changePassword() novalidate>
	 				<div class="form-content panel-body">
	 					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
	 						<input type=password ng-model="oldpassword" name="password" class="form-control input-lg" placeholder="Old password" required equals="{{confirmpassword}}">
						</div>
	 					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
	 						<input type=password ng-model="confirmpassword" name="confirmpassword" class="form-control input-lg" placeholder="Confirm Password" required equals="{{oldpassword}}">
						</div>
		 					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
	 						<input type=password ng-minlength="8" ng-maxlength="16" ng-model="newpassword" name="newpassword" class="form-control input-lg" placeholder="New Password" required>
						</div>
						<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-4">
							<button ng-disabled="changepasswordform.newpassword.$invalid || changepasswordform.confirmpassword.$invalid || changepasswordform.oldpassword.$invalid" type=submit class="btn btn-blue btn-lg btn-rounded">Change your Password</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><h3>Change your moments</h3></div>
				<form role=form name="changemomentsform" ng-submit=changeDates() novalidate>
	 				<div class="form-content panel-body">
						<form role=form name="changemomentsform" ng-submit=changeMoments() novalidate>
			 				<div class="form-content panel-body">
			 					<div class="form-group col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-4">
			 						<h4>Morning:</h4>
			 						<timepicker ng-model="morning" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
							</div>
			 				<div class="form-content panel-body">
			 					<div class="form-group col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-4">
			 						<h4>Evening:</h4>
			 						<timepicker ng-model="evening" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
							</div>
			 				<div class="form-content panel-body">
			 					<div class="form-group col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-4">
			 						<h4>Night:</h4>
			 						<timepicker ng-model="night" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
							</div>
			 				<div class="form-content panel-body">
			 					<div class="form-group col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-4">
			 						<h4>Tomorrow:</h4>
			 						<timepicker ng-model="tomorrow" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
							</div>
			 				<div class="form-content panel-body">
			 					<div class="form-group col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-4">
			 						<h4>After Tomorrow:</h4>
			 						<timepicker ng-model="aftertomorrow" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
							</div>	
			 				<div class="form-content panel-body">
			 					<div class="form-group col-md-6 col-lg-6 col-md-offset-6 col-lg-offset-4">
			 						<h4>Next Week:</h4>
			 						<timepicker ng-model="aftertomorrow" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
								</div>
							</div>
							<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-4">
								<button type=submit class="btn btn-blue btn-lg btn-rounded">Change your Moments</button>
							</div>
						</form>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>