<div>
	<a ui-sref=overview class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Create <small>a new task</small></h2>
	<span class="glyphicon glyphicon-ok-sign bg-fade"></span>
	<div class=jumbotron>
		<div class=container elem-ready='refreshTasks()'>
			<div class="panel">
				<form role=form name="createtaskform" ng-submit=createTask() novalidate>
 					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
 						<input type=text ng-model="taskDescription" name="description" class="form-control input-lg" placeholder="Task description" required>
					</div>
 					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
 						<input type=text ng-model="taskType" name="type" class="form-control input-lg" placeholder="Task type">
					</div>
					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
						<p class="input-group">
							<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="dueDate" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" placeholder="Due Date (You can leave it empty)"/>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</p>
	              	</div>
 					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-2">
 						<h3>Priority:</h3>
						<select class="form-control" ng-model="priority" ng-options="opt for opt in [1, 2, 3, 4, 5, 6, 7, 8, 9]"></select>
					</div>
					<div class="form-group col-md-8 col-lg-8 col-md-offset-8 col-lg-offset-5">
						<button ng-disabled="createtaskform.description.$invalid || createtaskform.type.$invalid" type=submit class="btn btn-blue btn-lg btn-rounded">Create Task</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>